<template>
  <div class="card mb-3">
    <div class="card-header" @click="open = !open">
      {{ field.label }}
    </div>
    <div class="card-body" :class="{ close: !open }">
      <FormGroup label="label" :id="`label-${index}`">
        <input v-model="field.label" type="text" class="form-control" :id="`label-${index}`">
      </FormGroup>
      <FormGroup label="supplement" :id="`supplement-${index}`">
        <input
          v-model="field.supplement"
          type="text"
          class="form-control"
          :id="`supplement-${index}`">
      </FormGroup>
      <div class="form-check mb-2">
        <input
          v-model="field.required"
          type="checkbox"
          class="form-check-input"
          :id="`required-${index}`">
        <label class="form-check-label" :for="`required-${index}`">required</label>
      </div>
      <FormGroup label="col" :id="`col-${index}`">
        <select v-model="field.col" class="form-control" :id="`col-${index}`">
          <option v-for="i in colRange" :key="i" :value="i">{{ `${i}/12` }}</option>
        </select>
      </FormGroup>

      <component :is="field.input.config" :config="field.input.meta"></component>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    field: Object,
    index: Number,
  },
  data() {
    return {
      open: false,
      colRange: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    };
  },
};

export const initialFieldConfig = {
  label: '新欄位',
  input: null,
  // key: 'average',
  supplement: '欄位備註',
  col: 12,
  required: false,
  validator: [],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.card-body {
  overflow: hidden;
  &.close {
    height: 0;
    padding: 0;
  }
}
</style>
