<template>
  <div class="form-editor shadow-sm">
    <FormGroup label="title" id="title">
      <input v-model="fieldset.title" type="text" class="form-control" id="title">
    </FormGroup>
    <FormGroup label="description" id="description">
      <textarea
        v-model="fieldset.description"
        type="text"
        class="form-control"
        id="description"></textarea>
    </FormGroup>

    <label class="mb-4">fields</label>

    <button
      @click="$emit('addField', fieldset)"
      type="button"
      class="btn btn-primary btn-sm float-right">新增欄位</button>

    <div v-for="(field, index) in fieldset.fields" :key="index">
      <FieldConfig :field="field" :index="index" />
    </div>

  </div>
</template>

<script>
import FieldConfig from './FieldConfig.vue';

export default {
  props: {
    fieldset: Object,
  },
  components: {
    FieldConfig,
  },
};

export const initialFieldsetConfig = {
  title: '新區塊標題',
  description: '新區塊描述',
  fields: [],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.form-editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 25px;
  background: white;
  overflow: auto;
}
</style>
