<template>
  <div class="form-group" :class="className">
    <label :for="id">{{ label }}</label>
    <span v-if="required" class="text-danger">(必填)</span>
    <slot></slot>
    <small v-if="supplement" class="form-text text-muted">{{ supplement }}</small>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    label: String,
    supplement: String,
    className: String,
    required: Boolean,
  },
};
</script>
