<template>
  <div class="form-preview p-4">
    <fieldset
      @click="$emit('fieldsetFocus', fieldset)"
      v-for="(fieldset, index) in fieldsets"
      :key="index"
      class="card card-body"
      :class="{ active: focusedFieldset === fieldset }"
    >
      <legend>{{ fieldset.title }}</legend>
      <pre>{{ fieldset.description }}</pre>

      <div class="form-row">
        <FormGroup
          v-for="(field, index) in fieldset.fields"
          :key="index"
          :id="field.key"
          :className="`col-md-${field.col}`"
          :label="field.label"
          :supplement="field.supplement"
          :required="field.required"
        >
          <component
            :is="field.input.component"
            v-bind="field.input.meta"
            :required="field.required"></component>
        </FormGroup>

      </div>
    </fieldset>

    <button @click="$emit('addFieldset')" type="button" class="btn btn-primary mt-4">新增區塊</button>
  </div>
</template>

<script>
export default {
  props: {
    fieldsets: Array,
    focusedFieldset: Object,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.form-preview {
  margin-left: 355px;
  .card {
    &.active {
      border-left: 4px solid #ffc107;
    }
  }
}
</style>
