<template>
  <div ref="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button
            type="button"
            class="close"
            @click="$emit('close')"
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
        <div class="modal-footer">
          <button @click="$emit('close')" type="button" class="btn btn-default">Close</button>
          <button
            v-if="confirmBtn"
            @click="$emit('confirm')"
            type="button"
            class="btn btn-primary">{{ confirmBtn }}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>

<script>
/* global $ */

export default {
  props: {
    show: Boolean,
    title: String,
    confirmBtn: String,
  },
  mounted() {
    $(this.$refs.modal).modal({
      show: this.show,
      backdrop: 'static',
    });
  },
  watch: {
    show(value) {
      if (value) {
        $(this.$refs.modal).modal('show');
      } else {
        $(this.$refs.modal).modal('hide');
      }
    },
  },
};
</script>
