<template>
  <div id="app">
    <FieldsetConfig
      @addField="openModal"
      v-if="nowEditingfieldset"
      :fieldset="nowEditingfieldset"
    />
    <FormPreview
      @addFieldset="addFieldset"
      @fieldsetFocus="focusFieldset"
      :focusedFieldset="nowEditingfieldset"
      :fieldsets="fieldsets"
    />
    <Modal
      title="新增欄位"
      confirmBtn="新增"
      :show="modalShow"
      @close="closeModal"
      @confirm="addField"
    >
      <formGroup label="選擇欄位類型" id="field-type">
        <select v-model="selectedInput" id="field-type" class="form-control">
          <option
            v-for="input in formInputs"
            :key="input.name"
            :value="input">{{ input.name }}</option>
        </select>
      </formGroup>
    </Modal>
  </div>
</template>

<script>
import FieldsetConfig, { initialFieldsetConfig } from './components/FieldsetConfig.vue';
import { initialFieldConfig } from './components/FieldConfig.vue';
import FormPreview from './components/FormPreview.vue';
import Modal from './components/Modal.vue';
import formInputs from './components/formInputs';

export default {
  name: 'app',
  components: {
    FieldsetConfig, FormPreview, Modal,
  },
  data() {
    return {
      nowEditingfieldset: null,
      fieldsets: [],
      formInputs,
      modalShow: false,
      selectedInput: null,
    };
  },
  created() {
    this.addFieldset();
  },
  methods: {
    openModal() {
      this.initialSelectedInput();

      this.modalShow = true;
    },
    closeModal() {
      this.modalShow = false;
    },
    initialSelectedInput() {
      [this.selectedInput] = formInputs;
    },
    addFieldset() {
      const newFieldset = this.deepClone(initialFieldsetConfig);
      this.fieldsets.push(newFieldset);

      this.focusFieldset(newFieldset);
    },
    focusFieldset(fieldset) {
      this.nowEditingfieldset = fieldset;
    },
    addField() {
      if (!this.selectedInput) {
        return;
      }

      this.nowEditingfieldset.fields.push(this.createNewFieldData(this.selectedInput));

      this.closeModal();
    },
    deepClone(o) {
      return JSON.parse(JSON.stringify(o));
    },
    createNewFieldData(selectedInput) {
      const newField = this.deepClone(initialFieldConfig);
      newField.input = {
        component: selectedInput.component,
        config: selectedInput.config,
        meta: this.deepClone(selectedInput.initialData),
      };

      return newField;
    },
  },
};
</script>

<style lang="scss">
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #eee;
}
</style>
