<template>
  <div>
    <FormGroup label="type">
      <select v-model="config.type" class="form-control">
        <option value="text">文字</option>
        <option value="number">數字</option>
      </select>
    </FormGroup>
    <FormGroup label="placeholder">
      <input v-model="config.placeholder" type="text" class="form-control">
    </FormGroup>
  </div>
</template>

<script>
export default {
  props: {
    config: Object,
  },
};
</script>
