<template>
  <input :type="type" class="form-control" :id="id" :placeholder="placeholder" :required="required">
</template>

<script>
export default {
  props: {
    id: String,
    placeholder: String,
    type: String,
    required: Boolean,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
